/* src/components/modelo/modelo.css */
.modelo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: linear-gradient(to bottom, #000407, #042431); 
    transition: background 0.3s ease, transform 1s ease;
    text-align: center;
    padding: 10px 50px; 
    font-family: 'Trebuchet MS', sans-serif;
    position: relative; 
  }
  
  .modelo-container h1 {
    color: white;
    font-size: 28px; 
  }
  