:root {
  /* Variables de posición y tamaño para las imágenes */
  --marte-left: 10%; /* Posición horizontal de Marte */
  --marte-bottom: -20%; /* Posición vertical de Marte */
  --marte-size: 650px; /* Tamaño de Marte */

  --luna-left: 35%; /* Posición horizontal de la Luna */
  --luna-bottom: 0%; /* Posición vertical de la Luna */
  --luna-size: 500px; /* Tamaño de la Luna */


  --astronauta-right: 4%; /* Posición horizontal del Astronauta */
  --astronauta-top:  -60%; /* Posición vertical del Astronauta */
  --astronauta-size: 950px; /* Tamaño del Astronauta */

  /* Variables para la posición y tamaño del botón */
  --boton-bottom: 7%; /* Posición vertical del botón */
  --boton-width: 1000px; /* Ancho del botón */
  --boton-padding: 20px 60px; /* Padding del botón */
  --boton-font-size: 70px; /* Tamaño de fuente del botón */

  /* Variables para la posición y tamaño del texto SEISMinds */
  --seisminds-right: 20px; /* Posición horizontal del texto */
  --seisminds-bottom: 55px; /* Posición vertical del texto */
  --seisminds-font-size: 50px; /* Tamaño de la fuente */
}

/* Contenedor principal que ocupa toda la pantalla */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background: linear-gradient(to bottom, #000407, #042431); 
  transition: background 0.3s ease, transform 1s ease;

  text-align: center;
  padding: 10 50px;
  font-family: 'Trebuchet MS', sans-serif;
  position: relative; 
}

/* Estilo del título */
.titulo-container h1 {
  position: absolute; 
  top: 0%; 
  left: 10%; 
  font-size: 90px;
  font-weight: 1000; 
  font-family: 'Anton', sans-serif; 
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}


/* Posicionamiento absoluto de las imágenes */
.centro-imagen {
  position: relative; 
  width: 100%; 
  height: 400px; 
}


/* Imagen de Marte como botón */
.marte-img {
  position: absolute;
  left: var(--marte-left);
  bottom: var(--marte-bottom);
  width: var(--marte-size);
  height: auto;
  z-index: 2; 
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

/* Efecto hover para Marte */
.marte-img:hover {
  transform: scale(1.1); 
  filter: brightness(0.7); 
}

/* Imagen de la Luna como botón */
.luna-img {
  position: absolute;
  left: var(--luna-left);
  bottom: var(--luna-bottom);
  width: var(--luna-size);
  height: auto;
  z-index: 2; 
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

/* Efecto hover para la Luna */
.luna-img:hover {
  transform: scale(1.1); 
  filter: brightness(0.7); 
}

/* Animación para el movimiento flotante */
@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Imagen del Astronauta con movimiento flotante */
.astronauta-img {
  position: absolute;
  right: var(--astronauta-right);
  top: var(--astronauta-top);
  width: var(--astronauta-size);
  height: auto;


  
  /*animación de flotación */
  animation: flotar 4s ease-in-out infinite;
}

/* Posicionamiento absoluto del botón */
.boton-container {
  position: absolute;
  bottom: var(--boton-bottom); 
  width: var(--boton-width); 
  display: flex;
  justify-content: center; 
}

/* Estilo del botón con gradiente difuminado */
.boton-mision {
  padding: var(--boton-padding);
  background: linear-gradient(100deg, #17294d, #2858b8); 
  color: white;
  border: none;
  border-radius: 50px;
  font-size: var(--boton-font-size); 
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease, transform 0.3s ease;
}

.boton-mision:hover {
  background: linear-gradient(135deg, #60a5fa, #3b82f6);
  transform: scale(1.05);
}

/* Texto difuminado "SEISMinds" */
.seisminds-text {
  position: absolute;
  bottom: var(--seisminds-bottom); 
  right: var(--seisminds-right); 
  font-size: var(--seisminds-font-size); 
  color: rgba(255, 255, 255, 0.3); 
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2); 
}



/* Fondo del modal */
.modal-content {
  background: linear-gradient(100deg, #17294d, #2858b8); 
  padding: 40px; 
  border-radius: 15px; 
  max-width: 600px;
  width: 90%;
  color: white; 
  text-align: center;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

/* Botón de cerrar*/
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent; 
  color: white; 
  border: none; 
  font-size: 18px; 
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: scale(1.1);
}

/* Flecha en la parte inferior derecha s*/
.arrow-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent; 
}

.arrow-button:hover {
  color: #60a5fa; 
}

/* Estilos para el overlay del modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}




/* Para que se vea bien en pantallas más pequeñas */
@media (max-width: 768px) {
  .titulo-container h1 {
    font-size: 24px;
  }
  .astronauta-img {
    width: 50%;
    top: 0;
  }


  .boton-mision {
    font-size: 18px;
    padding: 15px 30px;
  }

  .seisminds-text {
    font-size: 24px;
  }
}
